body {
    /* ここでカウンターをリセット */
    counter-reset: section;
}

/* Canvas */
#canvas-container {
    background-color: #e0e0e0;
}

.canvas-wrapper {
    height: 80vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#imageCanvas,
#drawCanvas {
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
}

/* ファイル選択 */
input[type='file'] {
    color: rgb(31, 41, 55);
    cursor: pointer;
    border: 1px solid rgb(191, 194, 199);
    border-radius: 0.375rem;
    padding-right: 0.5rem;
    width: 24rem;
}

::file-selector-button,
::-webkit-file-upload-button {
    background-color: rgb(209, 213, 219);
    color: rgb(31, 41, 55);
    border: none;
    cursor: pointer;
    border-right: 1px solid rgb(191, 194, 199);
    padding: 0.25rem 1rem;
    margin-right: 1rem;
}

/* 接続デバイス */
.devices details {
    background-color: #fff;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s;
}

.devices details:hover {
    background-color: #e9e9f0;
}

.devices summary {
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 5px;
    position: relative;
    padding-left: 25px;
}

.devices summary:before {
    counter-increment: section;
    content: counter(section) ". ";
    position: absolute;
    left: 0;
}

.devices li {
    list-style-type: none;
    margin: 5px 0;
}


/* カラーパレット */
/* .with-color>input {
    max-width: 70%;
}

.with-color>.color-palette {
    padding-left: 40px;
    padding-top: 40px;
    display: inline-flex;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
} */

/* データベース */
.localStorage ul {
    list-style: none;
    padding: 0;
}

.localStorage li {
    background-color: #fff;
    margin: 10px 0;
    /* padding: 15px; */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
}

.key-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.localStorage .key-name {
    flex-grow: 1;
    cursor: pointer;
}

.localStorage .edit-btn,
.localStorage .delete-btn {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.localStorage .edit-btn {
    background-color: #4CAF50;
    color: white;
}

.localStorage .delete-btn {
    background-color: #f44336;
    color: white;
}

.localStorage li:hover {
    background-color: #e9e9f0;
}

.localStorage .details {
    display: none;
    margin-left: 20px;
    padding: 10px;
    background-color: #f9f9fb;
    border-left: 3px solid #007bff;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#localStorageKeys li.selected {
    background-color: #e0e0e0;
    font-weight: bold;
}

/* ローカルストレージ */
.devices details {
    background-color: #fff;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s;
}

.devices details:hover {
    background-color: #e9e9f0;
}

.devices summary {
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 5px;
    position: relative;
    padding-left: 25px;
}

.devices summary:before {
    counter-increment: section;
    content: counter(section) ". ";
    position: absolute;
    left: 0;
}

.devices li {
    list-style-type: none;
    margin: 5px 0;
}